/* section style */
.filters {
    background-color: white;
    height: 70%;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    
}

/* button style */
.filters button {
    background-color: #FF5A5F;
    font-style: 18px;
    width: 20%;
    color: #FFFFFF;
    height: 48px;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 10px 30px 10px 300px;
}

.filters button:hover {
    opacity: 0.9;
}

/* h3 locations & h4 amenities style */

.filters .locations-filters,
.filters .amenities-filters{
    display: inline-block;
    width: 25%;
    height: 100%;
    margin-left: 40px;
    vertical-align: middle;
    border-right: 1px solid #DDDDDD;
}

.filters .amenities-filters{
    border-right: 1px solid #DDDDDD;
}

.filters .locations-filters h3,
.filters .amenities-filters h3{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}

.filters .locations-filters h4,
.filters .amenities-filters h4{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* ul popover style */

.popover {
    background: #FAFAFA;
    font-size: 16px;
    padding: 2px 20px ;
    margin-bottom: 0px;
    display: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

}
.popover h2 {
    margin-bottom: 2px;
    margin-top: 25px;
    padding: 0;
}
.popover ul,li{
    margin-top: 0;
    padding: 8px 10px ;
    list-style: none    ;
}

div.locations-filters:hover .popover,
div.amenities-filters:hover .popover{
    display: block;
}

/* footer {
    position: relative;
} */